<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<form th:action="@{/currencyList}" th:object="${men}" method="post">
    <p>
        <label>source:
            <input type="radio" name="first_curr"
                   th:each="role : ${allRoles}"
                   th:text="${role}"
                   th:value="${role}"
            />
        </label>
    </p>
    <p>
        <label>currencies:
            <input type="checkbox" name="second_curr"
                   th:each="role : ${allRoles}"
                   th:text="${role}"
                   th:value="${role}"
            />
        </label>
    </p>
    <input type="submit" name="submit" value="Search" />
</form>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>